#root {
  max-width: 1280px;
  text-align: center;
  padding: 2rem;
  background-color: #454545;
  border-radius: 15px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.4);
}

body{
  padding: 2rem;
}

#greeting {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
}
#sub-greeting {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  color: #8d8d8d;
}

#header{
  margin-bottom: 3em;
}

#input-field {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  transition: border-color 1s ease, background-color 1s ease;
}

#input-field:focus {
  background-color: #343434;
  border-color: rgb(142, 0, 0);
  outline: none;
}

#submit-button{
  margin-top: 30px;
  width: 30%;
  padding: 0.5rem;
  border-radius: 0.6rem;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
#submit-button:active{
  background-color: #343434;
}

@media (min-width: 768px) {

  #root{
    margin: 0 auto;
    padding: 5rem 8rem;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.4);
  }

  #input-field {
    display: block;
    width: 110%; 
    max-width: 500px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    transition: border-color 1s ease, background-color 1s ease;
  }
  #input-field:focus {
    background-color: #343434;
    border-color: rgb(142, 0, 0);
    outline: none;
  }

  #submit-button{
    width: 30%;
    max-width: 200px;
    font-size: 18px;
  }

  #submit-button:hover {
    background-color: #3f9b39;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }
  #submit-button:active{
    background-color: #2e7d2e;
  }
}

